<section class="section header-section">
    <div class="container header-container">
        <div class="header-logo">
            <a href="/index.html" class="header-logo-link">
                <svg class="header-logo-icon" width="24" height="24">
                    <use href="./img/icons/icons.svg#icon-logo"></use>
                </svg>
                <svg class="header-logo-icon-bookshelf" width="77" height="14">
                    <use href="./img/icons/icons.svg#icon-bookshelf"></use>
                </svg>
            </a>
        </div>
        <ul class="header-nav">
            <li class="header-nav-link">
                <a class="header-nav-link header-nav-shop header-nav-home-btn" href="/index.html">Home</a>
            </li>
            <li class="header-nav-link">
                <a class=" header-nav-link header-nav-shop" href="./shopping-list.html">
                    Shopping list
                    <svg class="header-nav-shop-svg" width="14" height="17">
                        <use href="./img/icons/icons.svg#icon-bag"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="user-choice">
            <div class="checkbox-theme">
                <input class="checkbox-input" type="checkbox" value="None" id="checkbox" name="check" checked />
                <label class="checkbox-lable" for="checkbox"></label>
            </div>
            <button class="burger-menu-btn" type="button">
                <svg class="burger-menu-icon" width="28" height="28">
                    <use href="./img/icons/icons.svg#icon-burger"></use>
                </svg>
            </button>
            <!-- <button class="close-menu-btn is-hidden" type="button">
                <svg class="close-menu-icon" width="18" height="18">
                    <use href="./img/icons/icons.svg#icon-x-close"></use>
                </svg>
            </button> -->
            <div class="user-sign-up">
                <button class="user-btn" id="login-btn">
                    <svg class="user-btn-icon is-hidden" width="19" height="19">
                        <use href="./img/icons/icons.svg#icon-user"></use>
                    </svg>
                    <span class="user-name-btn">Sign up</span>
                    <svg class="arrow-btn-icon" width="16" height="12">
                        <use href="./img/icons/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="modal" id="login-modal">
            <!-- Форма авторизації буде додана за допомогою JavaScript -->
        </div>
</section>