<ul class="js-support-list display-none">
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="Save the Children"
      href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
    >
      <img class="support-img" src="support/stc.png" alt="Save the Children" />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="Project HOPE"
      href="https://www.projecthope.org/country/ukraine/"
    >
      <img class="support-img" src="support/hope.png" alt="Project HOPE" />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="UNITED24"
      href="https://u24.gov.ua/uk"
    >
      <img class="support-img" src="support/u24.png" alt="UNITED24" />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="International Medical Corps"
      href="https://internationalmedicalcorps.org/country/ukraine/"
    >
      <img
        class="support-img"
        src="support/imc.png"
        alt="International Medical Corps"
      />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="Medicins Sans Frontieres"
      href="https://www.msf.org/ukraine"
    >
      <img
        class="support-img"
        src="support/msf.png"
        alt="Medicins Sans Frontieres"
      />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="RAZOM"
      href="https://www.razomforukraine.org/"
    >
      <img class="support-img" src="support/razom.png" alt="RAZOM" />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="Action against hunger"
      href="https://www.actionagainsthunger.org/location/europe/ukraine/"
    >
      <img
        class="support-img"
        src="support/aah.png"
        alt="Action against hunger"
      />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="World vision"
      href="https://www.wvi.org/emergencies/ukraine"
    >
      <img class="support-img" src="support/wv.png" alt="World vision" />
    </a>
  </li>
  <li class="support-item">
    <a
      class="support-link"
      target="_blank"
      rel="noopener noreferrer"
      arial-label="Serhiy Prytula Charity Foundation"
      href="https://prytulafoundation.org/en"
    >
      <img
        class="support-img"
        src="support/prytula.png"
        alt="Serhiy Prytula Charity Foundation"
      />
    </a>
  </li>
</ul>
