<section class="support">
  <div class="support-header">
    <h3 class="support-title">Support Ukraine</h3>
    <svg class="support-triden" width="20" height="32">
      <use href=" ./img/icons/icons.svg#icon-trident"></use>
    </svg>
  </div>

  <div class="swiper support-swiper">
    <ul class="swiper-wrapper"></ul>
  </div>

  <div class="swiper-navigation">
    <button class="swiper-button-nav next-btn">
      <svg class="support-svg-icon icon-revert" width="22" height="32">
        <use href=" ./img/icons/icons.svg#icon-scroll-up"></use>
      </svg>
    </button>

    <button class="swiper-button-nav prev-btn swiper-button-hidden">
      <svg class="support-svg-icon" width="22" height="32">
        <use href=" ./img/icons/icons.svg#icon-scroll-up"></use>
      </svg>
    </button>
  </div>
</section>
