.category {
  width: 335px;
}
.js-category-list {
  overflow-y: scroll;
  height: 472px;
  text-align: left;
}
.category-item:not(:last-child) {
  margin-bottom: 32px;
}
.category-list {
  font-size: 16px;
  line-height: calc(18 / 16);
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  margin-bottom: 24px;
  height: 18px;
  cursor: pointer;
  user-select: none;
}
.category-list:hover,
.category-list:focus {
  color: var(--color-blue-component);
  width: 318px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
}
.category-list:last-child {
  margin-bottom: 0;
}
body.dark-theme .category-button {
  color: rgba(255, 255, 255, .6);
}

.category-button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  text-align: left;
}
.category-button.active {
  color: var(--violet);
  text-transform: uppercase;
}
body.dark-theme .category-button.active {
  color: var(--yellow);
}
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 #fff;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .category {
    width: 337px;
    height: 495px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .category {
    width: 356px;
  }
}

