.header-logo-icon-bookshelf {
  fill: var(--black-1);
}
body.dark-theme .header-logo-icon-bookshelf {
  fill: var(--white);
}

body.dark-theme .header-container {
  border-color: var(--white);
}

body.dark-theme .header-nav .current {
  color: var(--black-1);
}

body.dark-theme .header-nav-link {
  color: (--white);
}

body.dark-theme .current:hover,
body.dark-theme .current:focus {
  color: var(--white);
  fill: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 3px 12px 38px -5px #e7a61ab8;
}

body.dark-theme .checkbox-theme {
  background: linear-gradient(180deg, var(--violet) 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

body.dark-theme .close-menu-btn {
  stroke: var(--white);
}

body.dark-theme .close-menu-icon,
body.dark-theme .burger-menu-icon {
  stroke: var(--white);
}

.header-container {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  margin-bottom: 24px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.active {
  background-color: var(--yellow);
}

.header-logo-icon-bookshelf {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1), clip-path 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-link:hover .header-logo-icon-bookshelf,
.header-logo-link:focus .header-logo-icon-bookshelf {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  fill: var(--violet);
}

.header-logo-icon {
  text-align: center;
  transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-choice {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user-name-btn {
  width: max-content;
}

.checkbox-theme {
  width: 40px;
  height: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-right: 14px;
  position: relative;
  border-radius: 50px;
}

.header-nav {
  display: none;
}

.checkbox-input {
  visibility: hidden;
}

.checkbox-input:checked + label {
  left: 21px;
  background-color: var(--white);
  box-shadow: inset 0px -3px 5px 0px var(--violet);
}

.checkbox-lable {
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  border-radius: 50px;
  transition: all 0.4s ease;
  background: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.burger-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  stroke: #111;
}

.burger-menu-icon {
  transition: stroke 250ms ease-in-out, transform 550ms ease-in-out;
}
.burger-menu-icon:hover,
.burger-menu-icon:focus {
  stroke: #4f2ee8;;
  transform: rotateX(360deg);
  transform: rotateY(360deg);
}

.close-menu-btn {
  display: none;
}

.close-menu-icon {
  stroke: #111;
}

.user-sign-up {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }

  .header-container {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  .header-logo {
    margin-right: 40px;
  }

  .header-nav {
    display: flex;
    gap: 24px;
    text-align: center;
    align-items: center;
    position: relative;
    margin-right: 101px;
  }
  .user-btn,
  .header-nav-shop,
  .header-nav-home-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1),
      color 350ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1),
      font-weight 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-home-btn {
    padding: 8px 16px;
    width: 72px;
    height: 34px;
    color: #111;
    text-transform: uppercase;
    /* height: 36px; */
  }

  .header-nav-home-btn:hover,
  .header-nav-home-btn:focus {
    background-color: #eac645;
    font-weight: 700;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
  }

  .header-nav-shop {
    border: none;
    padding: 8px 16px;
    height: 34px;
    color: #111;
    text-transform: uppercase;
  }

  .header-nav-shop:hover,
  .header-nav-shop:focus {
    background-color: #eac645;
    font-weight: 700;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
  }

  body.dark-theme .header-nav-shop-svg {
    fill: var(--white);
  }

  .user-choice {
    display: flex;
  }

  .is-hidden {
    display: none;
  }

  .user-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-btn {
    border: 1.5px solid #111;
    height: 45px;
    background-color: #fff;
    color: #111;
    padding: 15px 14px;
    gap: 90px;
  }
  .user-btn:hover,
  .user-btn:focus {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
    background-color: #4f2ee8;
    color: #fff;
  }

  .arrow-btn-icon {
    stroke: #eac645;
  }
}
