.support {
  color: #ffffff;
  padding: 24px 40px;
  overflow-y: auto;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189% 190% at 60% -24%,
    rgb(79, 46, 232) 18%,
    rgb(255, 255, 255) 100%
  );
  width: 335px;
  height: 460px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
/* Header */
.support-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.support-triden {
  fill: var(--white);
  padding-bottom: 0;
  margin: 0;
}
.support-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09091;
  letter-spacing: -0.04em;
  color: #fff;
}
.js-support-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.support-svg-icon {
  width: 13px;
  height: 7px;
  fill: #4f2ee8;
}
/* Swiper */
.swiper {
  width: 100%;
  height: 292px;
}
.swiper-slide {
}
.support-link {
  height: 50px;
  background-color: transparent;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 10px;
}
.support-count {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.support-img {
  filter: brightness(0) invert(1);
  max-height: 32px;
  max-width: 114px;
}

.support-swiper {
  max-height: 500px;
  max-width: 400px;
}
.swiper-navigation {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}
.swiper-button-nav {
  border: none;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  box-shadow: 0 4px 4px #00000040;
}

.swiper-button-hidden {
  display: none;
}
.icon-revert {
  transform: rotate(180deg);
}
