.seller-section {
  padding-top: 40px;
  max-width: 335px;
  min-width: 280px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  color: var(--black);
}

.accent {
  color: var(--violet);
}

.sellers-category {
  padding-top: 40px;
}

.sellers-list {
  padding-bottom: 80px;
}

.sellers-item {
  padding-top: 18px;
  padding-bottom: 8px;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sellers-item:hover,
.sellers-item:focus {
  transform: scale(1.05);
}

.sellers-category-title {
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading);
  font-weight: 400;
  font-size: 14px;

  /* margin-bottom: 16px; */
}

.book-image-wrapper {
  margin-bottom: 14px;
  max-width: 335px;
  height: 485px;
}

.book-image {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  /* color: var(--black); */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* margin-bottom: 4px; */
}

.book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--heading);

  margin-bottom: 8px;
}

.sellers-button {
  border: 2px solid var(--violet);
  background-color: var(--white);
  border-radius: 40px;
  padding: 14px 28px;
  display: block;
  margin-left: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--black);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sellers-button:hover,
.sellers-button:focus {
  background-color: var(--violet);
  color: var(--white);
  transform: scale(1.1);
}

/* loader */

.loader {
  width: 200px;
  height: 140px;
  background: var(--heading);
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  perspective: 1000px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.loader:before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #f5f5f5 no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);

  background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px,
    105px 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.loader:after {
  content: '';
  position: absolute;
  width: calc(50% - 10px);
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #fff no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 50% 30px, 50% 60px, 50% 90px;
  transform: rotateY(0deg);
  transform-origin: left center;
  animation: paging 1s linear infinite;
}

@keyframes paging {
  to {
    transform: rotateY(-180deg);
  }
}

/* end loader */

@media only screen and (min-width: 768px) {
  .seller-section {
    padding-top: 100px;
    max-width: 704px;
  }

  .section-title {
    font-size: 48px;
    line-height: 1.08;
  }

  .sellers-category-list {
    display: flex;
    gap: 25px;
  }

  .sellers-list {
    padding-bottom: 100px;
  }

  .sellers-item {
    padding-bottom: 20px;
    width: calc((100% - 50px) / 3);
  }

  .sellers-category-title {
    line-height: 1.71;
  }

  .book-image-wrapper {
    width: 218px;
    height: 316px;
  }
}

@media only screen and (min-width: 1440px) {
  .seller-section {
    padding-top: 40px;
    max-width: 996px;
    min-width: 996px;
  }

  .sellers-category-list {
    gap: 24px;
  }

  .sellers-list {
    padding-bottom: 72px;
  }

  .sellers-item {
    padding-bottom: 32px;
    width: calc((100% - 96px) / 5);
  }

  .book-image-wrapper {
    width: 180px;
    height: 256px;
  }
}

/* animation */
.animation-items {
  animation-name: appear-items;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes appear-items {
  0% {
    transform: scale(0.92);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.02);
    opacity: 0.85;
  }

  75% {
    transform: scale(0.95);
    opacity: 0.95;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
